.wrapper {
  @apply flex flex-col gap-1;
}

.label {
  @apply text-sm font-medium;
}

.input {
  @apply rounded border px-3 py-2 outline-none focus:ring-2 focus:ring-emerald-400;
}

.normalBorder {
  @apply border-gray-300;
}

.errorBorder {
  @apply border-red-500;
}

.error {
  @apply text-xs text-red-500;
}
