.container {
  @apply flex flex-col min-h-screen max-w-md mx-auto shadow-lg;
}

.header {
  @apply bg-emerald-500 text-white p-4;
}

.logo {
  @apply text-lg font-bold text-center;
}

.main {
  @apply flex-grow bg-white overflow-y-auto;
}

.footer {
  @apply bg-gray-100 text-center p-2 text-xs;
}

.footerText {
  @apply text-gray-500;
}

